.naw {
  @media print {
    ul {
      margin-top: 0;
    }
  }

  > ul > li {
    margin-bottom: 10px;
    word-break: break-word;

    @media print {
      font-size: 1rem;
    }

    > *:first-child {
      margin-right: 10px;
    }
  }
}

.phone, .mail, .residence, .name {
  display: flex;
  align-items: center;
}
