@import "../Utilities/grid.scss";

.fold {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
  background-image: url("http://demo.floydvanboksel.com/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media print {
    display: none;
  }
}

.main-content {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 6rem;
  margin-bottom: 10px;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.sub-title {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 15px;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.nav-links {
  display: flex;
  flex-flow: row;
  font-family: 'Roboto', sans-serif;

  @media(max-width: map-get($grid-breakpoints, sm)) {
    flex-flow: column;
    text-align: center;

    > * {
      margin-bottom: 10px;
    }
  }

  > * {
    margin-right: 20px;

    &:last-child {
      margin-right: 0px;
    }

    a {
      font-size: 1.8rem;
    }
  }
}
