@import "../../Utilities/grid.scss";

.skills {
  display: flex;
  flex-flow: column;

  h2 {
    margin-bottom: 0;
  }

  @media print {
    h2 {
      margin: 0px;
      font-size: 1.3rem;
      width: 100%;

      border-bottom: 1px solid gray;
    }
  }
}

.current-skils {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  width: 100%;

  @media(min-width: map-get($grid-breakpoints, lg)) {
    flex-direction: row-reverse;
  }
}
