@import "../Utilities/grid.scss";

.card-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  width: 50%;
  padding: 20px;

  @media(max-width: map-get($grid-breakpoints, xxl)) {
    width: 33%;
  }

  @media(max-width: map-get($grid-breakpoints, lg)) {
    width: 50%;
  }

  @media(max-width: map-get($grid-breakpoints, md)) {
    width: 100%;
    padding: 20px 0;
  }

  @media print {
    padding: 0;
  }
}

.skills {
  @media print {
    > *:first-child {
      img {
        display: none;
      }
    }

    > *:last-child {
      > * {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
        padding: 0;

        > * {
          width: 33%;

          &:first-child {
            justify-content: flex-start;
          }

          &:last-child {
            justify-content: flex-end;
          }
        }

        > * {
          padding-right: 5px;

          &:last-child {
            padding-right: 0;
          }
        }

        p {
          text-align: right;
        }
      }
    }
  }
}

.job {
  display: flex;
  flex-flow: row;
  align-items: baseline;

  @media(max-width: map-get($grid-breakpoints, lg)) {
    flex-flow: column;
    align-items: center;
  }
}

.education {
  .job {
    flex-flow: column;
    align-items: center;
    text-align: center;
  }
}

.jobs, .internships, .education {
  flex-flow: column !important;
  padding: 1rem;

  h4 {
    margin: 0 1rem 0.5rem 0 !important;

    @media(max-width: map-get($grid-breakpoints, lg)) {
      margin: 0 0 0.5rem 0 !important;

    }
  }

  img {
    width: 100% !important;
    object-fit: contain;
    padding: 1rem;
  }
}

.card {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  width: 100%;

  h4, h5 {
    word-break: break-word;
  }

  @media print {
    box-shadow: none;
    margin: 0;

    > *:last-child {
      padding: 0;
      border: none;
      width: 100%;

      > * {
        h4 {
          font-size: 1rem;
          margin: 0;
        }

        h5 {
          margin: 0;
          font-size: 1rem;

          > i {
            font-size: 1rem;
          }
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }

  &:hover {
    box-shadow: 5px 5px 15px;
  }
}

.image {

  > * {
    padding: 10px;
    max-height: 80px;
    width: auto !important;
  }
}

.date {

}

.title {
  margin-top: 0px;
}
