.fold {
  align-items: center;
  display: flex;
  background-color: #009688;
  flex-flow: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
}

.main-content {
  display: flex;
  justify-content: center;
}

.title {
  margin-bottom: 20px;
}

.sub-title {
  margin-bottom: 15px;
}

.nav-links {
  display: flex;
  flex-flow: row;
  font-family: 'Roboto', sans-serif;

  > * {
    margin-right: 20px;

    &:last-child {
      margin-right: 0px;
    }
  }
}
