@import "../../../../Utilities/grid.scss";

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 25%;
  padding: 20px;

  @media(max-width: map-get($grid-breakpoints, xxl)) {
    width: 33%;
  }

  @media(max-width: map-get($grid-breakpoints, lg)) {
    width: 50%;
  }

  @media(max-width: map-get($grid-breakpoints, md)) {
    width: 100%;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;

  &:hover {
    box-shadow: 5px 5px 15px;
  }
}

.image {
  width: 125px;
  padding: 10px;

  @media(max-width: map-get($grid-breakpoints, md)) {
    width: 70px;
  }

  &.-whitespace {
    padding: 15px;
  }
}

.title {
  margin-top: 0px;
}
