@import "../../Utilities/grid.scss";

.internships {
  @media print {
    h2 {
      margin: 0px;
      font-size: 1.3rem;
      width: 100%;

      border-bottom: 1px solid gray;
    }
  }
}

.internships-overview {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;

  @media(max-width: map-get($grid-breakpoints, xxl)) {
    flex-flow: column-reverse;

    > * {
      width: 100%;
    }
  }
}
