@import "../../Utilities/grid.scss";

.education {
  @media print {
    h2 {
      margin: 0px;
      font-size: 1.3rem;
      width: 100%;

      border-bottom: 1px solid gray;
    }
  }
}

.educations {
  display: flex;
  flex-flow: column;

  > * {
    width: 100%;
  }

  @media(max-width: map-get($grid-breakpoints, xxl)) {
    h4 {
      font-size: 1.5rem;
    }
  }
}
