@import "../../../Utilities/grid.scss";

.education {
  display: flex;
  flex-flow: column;

  > * {
    width: 100%;
  }

  @media(max-width: map-get($grid-breakpoints, xxl)) {
    h4 {
      font-size: 1.5rem;
    }
  }
}
