@import "../Utilities/grid.scss";

.cv {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  background-color: #F5F5F5;
  min-height: 100vh;
  min-width: 100%;

  @media print {
    background-color: white;
  }
}

.title {
  margin-left: 10%;

  @media print {
    font-size: 2rem;
    margin-left: 5%;
  }
}

.contents {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin-left: 10%;

  > * {
    display: inline-flex;
    flex-flow: row;

    @media(max-width: map-get($grid-breakpoints, sm)) {
      flex-flow: column;
    }

    &:nth-child(2) {
      > * {
        width: 100% !important;
      }
    }

    > * {
      &:first-child {
        width: calc(50% - 10px);
        margin-right: 10px;

        @media print {
          margin-right: 0px;
        }
      }

      &:last-child {
        width: calc(50% - 10px);
        margin-left: 10px;

        @media print {
          margin-left: 0px !important;
        }
      }

      @media(max-width: map-get($grid-breakpoints, md)) {
        width: 100% !important;
      }
    }
  }

  @media print {
    width: 90%;
    margin-left: 5%;
    flex-flow: row;
    flex-wrap: wrap;

    > * {
      width: 100%;

      &:nth-child(1) {
        width: calc(50% - 10px);
        flex-flow: column-reverse;
        justify-content: flex-end;
        margin-right: 10px;

        > * {
          width: 100%;
        }
      }

      &:nth-child(2) {
        width: calc(50% - 10px);
        margin-left: 10px;
      }

      &:nth-child(3) {
        flex-flow: column;

        > * {
          width: 100%;

          &:first-child {
            width: calc(100% - 10px);
            margin-right: 10px;

            > *:last-child {
              display: flex;
              flex-flow: row;
              flex-wrap: wrap;

              > * {
                width: 50%;
              }
            }
          }

          &:last-child {
            width: calc(100% - 10px);
            margin-left: 10px;

            > *:last-child {
              display: flex;
              flex-flow: row;
              flex-wrap: wrap;

              > * {
                width: 50%;
              }
            }
          }
        }
      }

      &:nth-child(4) {
        > * {
          &:first-child {
            width: calc(50% - 10px);
            margin-right: 10px;
          }

          &:last-child {
            width: calc(50% - 10px);
            margin-left: 10px;
          }
        }
      }
    }
  }
}
